@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

@-webkit-keyframes STAR-MOVE {
	from {
		-webkit-transform: translateX(0);
	}
	to {
		-webkit-transform: translateX(-187%);
	}
}

#animate-splash	{
    height: 70%;
    width: 100%;
	background-image: url('../images/ATX.gif');
	background-position: 0px 0px;
	background-repeat: repeat-x;

	animation: animatedBackground 150s linear infinite;
}

#one-liner {
    line-height: 1.5;
}

.navbar {
    margin-bottom: 0;
}

.navbar-default {
    background-color: #323C46;
}

.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav li a:visited {
    color: #B7BBBE;
}

.navbar-default .navbar-nav li a:hover {
    color: #fff;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:visited {
    color: #fff;
}

.search-box {
    width: 40%;
    margin: 18em auto;
}

.site-description {
    margin: 5em auto 2em;
    text-align: center;
}

.site-cards {
    text-align: center;
}

.about-col {
    padding-left: 0;
    padding-right: 30px;
    text-align: left;
}

.about-description {
    height: 40%;
}

.about-header {
    margin: 3em 0 .3em;
    font-size: 400%;
}

.about-tagline {   
    margin-bottom: 1.8em;
}

.dark {
    color: #323C46;
    font-weight: bold;
}

.light {
    color: #959595;
}

.about-subheader {
    margin: 0 0 1.8em;
    color: #A0A0A0;
    word-spacing: 5px;
    line-height: 200%;
}

.card {
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 3em;
    border-bottom: 2px solid #DADAF2;
}

.card-img {
    float: left;
    height: 100%;
}

.card-description {
    text-align: left;
    float: left;
    height: 100%;
    background-color: #fff;
    color: #323C46;
    padding: 1em;
}

.profile {
    text-align: left;
}

.portrait {
    width: 100%;
    height: 100%;
    margin: 1em 0 2em;
    border-radius: 100%;
}

p {
    line-height: 170%;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: rgb(240, 242, 245);
    color: #323C46;
}

.add-margins {
    padding-left: 5%; padding-right:5%;
}

div#menu-keys div {
    background-color: darkgrey;
    border: 1px solid;
    padding: 10px 20px;
    color: white;
    text-align: center;
}

div#menu-keys #crime-type-key {
    background-color: dimgrey;
    text-align: center;
}

#crime-type-key {
    background-color: darkslategrey;
    border-radius: 10px 10px 5px 5px;
    color: black;
}

div#menu-vals #crime-type-val {
    border-radius: 5px 5px 25px 25px;
    text-align: center;
    color: black;
}

div#menu-vals .field {
    padding: 10px 20px;
    color: black;
    text-align: center;
}

div#menu-vals a {
    color: black;
}
div#menu-vals a:hover {
    background-color: lightskyblue;
}