
.add-margins {
    padding-left: 5%; padding-right:5%;
}

div#menu-keys div {
    background-color: darkgrey;
    border: 1px solid;
    padding: 10px 20px;
    color: white;
}

div#menu-keys #crime-type-key {
    background-color: dimgrey;
}

#crime-type-key {
    background-color: darkslategrey;
    border-radius: 10px 10px 5px 5px;
    /*border: 1px solid;*/
    color: black;
}

div#menu-vals #crime-type-val {
    border-radius: 5px 5px 25px 25px;
    /*border: 1px solid;*/
    color: black;
}

div#menu-vals .field {
    /*background-color: lavender;*/
    /*border-bottom-color: white;*/
    /*border-color: white;*/
    /*border: 1px solid;*/
    padding: 10px 20px;
    color: black;
}

div#menu-vals a {
    /*word-wrap: break-word;*/
    /*width: 100%;*/
    /*padding-top: 20px;*/
    color: black;
    /*border: 1px solid;*/
    /*padding: 10px 40px;*/
}
div#menu-vals a:hover {
    background-color: red;
}