<div class="jumbotron overlay-blue" style="padding-bottom: 30%">
    <div class="overlay" >
        <h1 class="left" style="font-family: 'Passion One';"  ng-model="crime_type" class="add-margins">{{crime_type.name}}</h1>
    </div>
    <br>

    <div class="well" style="margin-left: auto">
        <div class="bs-docs-grid add-margins" style="margin-left: auto">
            <div class="row show-grid" id="menu-keys" style="margin-left: auto">
                <div class="col-md-2" id="crime-type-key">Description</div>
                <div class="col-md-2 col-md-offset-1">Worst Zipcode</div>
                <div class="col-md-2">Worst Week</div>
                <div class="col-md-1">Id</div>
                <div class="col-md-4">Crimes</div>
            </div>
            <div ng-model="crime_type" class="row show-grid" id="menu-vals" style="margin-left: auto">
                <div class="col-md-2 field alert-danger" id="crime-type-val">{{crime_type.desc}}</div>
                <div class="col-md-2 col-md-offset-1 field alert-info"><a>{{crime_type.worstZip.zip_code}}</a></div>
                <div class="col-md-2 field alert-info"><a>{{crime_type.worstWeek.start_date}}</a></div>
                <div class="col-md-1 field alert-info"><a>{{crime_type.crime_type_id}}</a></div>
                <div class="col-md-4 ">
                        <div class="well" style="height: 350px">
                            <div class="gmap" id="map"></div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>