<div class="jumbotron overlay-blue" style="padding-bottom: 30%">
    <div class="overlay" >
        <h1 class="left" style="font-family: 'Passion One';"  ng-model="week" class="add-margins">Week of {{week.start}} </h1>
    </div>
    <br>
    <div class="bs-docs-grid add-margins">
        <div class="row show-grid" id="full-keys">
            <div class="col-md-8">
                <div class="well">
                    <div class="bs-docs-grid add-margins">
                        <div class="row show-grid" id="menu-keys">
                            <div class="col-md-3">Most Popular Crime</div>
                            <div class="col-md-3">Worst Zipcode</div>
                            <div class="col-md-2 col-md-offset-1">Start Date</div>
                            <div class="col-md-2">End Date</div>
                            <div class="col-md-1">Id</div>
                        </div>
                        <div ng-model="week" class="row show-grid" id="menu-vals">
                            <div class="col-md-3 field alert-danger"><a class="alert-danger" href="/crime_types/{{week.most_popular.crime_type_id}}">{{week.most_popular.name}}</a></div>
                            <div class="col-md-3 field alert-danger"><a href="/zips/{{week.worst_zip.zip_id}}">{{week.worst_zip.zip_code}}</a></div>
                            <div class="col-md-2 col-md-offset-1 field alert-info"><a >{{week.start}}</a></div>
                            <div class="col-md-2 field alert-info"><a >{{week.end}}</a></div>
                            <div class="col-md-1 field alert-info"><a >{{week.week_id}}</a></div>
                        </div>
                    </div>
                </div>
                <div class="gmap" id="map" style="padding:20px"></div>
                <br>
                <iframe src='//cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1FjLAxhctN0TsK5JfNAePYPbiRLIFocGxwTxxdt2eaAM&font=Default&lang=en&initial_zoom=2&height=650' width='100%' height='350' frameborder='0'></iframe>

            </div>
            <div class="col-md-4">
                <div class="well">
                    <div class="bs-docs-grid add-margins">
                        <div class="row show-grid" id="other-keys">
                            <div class="col-md-12">Crimes</div>
                        </div>
                        <div ng-model="week" class="row show-grid" id="crimes-vals">
                            <div class="col-md-12 container truncate field alert-info">
                                <table class="table table-hover">
                                    <tbody>
                                    <tr ng-repeat="crime in week.crimes" >
                                        <td><a href="/crimes/{{crime.crime_id}}">{{ crime.crime_id }}</a></td>
                                        <td><div class="truncate" style="width: 250px"><a class="truncate" href="/crimes/{{crime.crime_id}}">{{ crime.description }}</a></div></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="well">-->
        <!--<iframe src='//cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1FjLAxhctN0TsK5JfNAePYPbiRLIFocGxwTxxdt2eaAM&font=Default&lang=en&initial_zoom=2&height=650' width='100%' height='350' frameborder='0'></iframe>-->
    <!--</div>-->
</div>