<div class="jumbotron overlay-blue" style="padding-bottom: 30%">
    <div class="overlay" >
        <h1 class="left" style="font-family: 'Passion One';"  ng-model="week" class="add-margins">Week: {{week.start_date}}-{{week.end_date}}</h1>
    </div>
    <br>

    <div class="well" style="margin-left: auto">
        <div class="bs-docs-grid add-margins" style="margin-left: auto">
            <div class="row show-grid" id="menu-keys" style="margin-left: auto">
                <div class="col-md-2 " id="crime-type-key">Most Popular Crime</div>
                <div class="col-md-2 col-md-offset-1">Worst Zipcode</div>
                <div class="col-md-2">Crimes</div>
                <div class="col-md-2">Start Date</div>
                <div class="col-md-1">End Date</div>
                <div class="col-md-1">Id</div>
            </div>
            <div ng-model="week" class="row show-grid" id="menu-vals" style="margin-left: auto">
                <div class="col-md-2 field alert-danger" id="crime-type-val"><a class="alert-danger" href="/crime_types/{{week.most_popular.crime_type_id}}">{{week.most_popular.name}}</a></div>
                <div class="col-md-2 col-md-offset-1 field alert-info"><a href="/zips/{{week.worst_zip.zip_id}}">{{week.worst_zip.zip_code}}</a></div>
                <div class="col-md-2 field alert-info"><a >
                    <table class="table table-hover">
                        <tbody>
                        <tr ng-repeat="crime in week.crimes">
                            <td><a href="/crimes/{{crime.crime_id}}">{{ crime.crime_id }}</a></td>
                            <td><a href="/crimes/{{crime.crime_id}}">{{ crime.description }}</a></td>
                        </tr>
                        </tbody>
                    </table>
                    </a>
                </div>
                <div class="col-md-2 field alert-info"><a >{{week.start}}</a></div>
                <div class="col-md-1 field alert-info"><a >{{week.end}}</a></div>
                <div class="col-md-1 field alert-info"><a >{{week.week_id}}</a></div>
            </div>
        </div>
    </div>
</div>