<div class="jumbotron overlay-yellow" style="padding-bottom: 30%">
    <div class="overlay " >
        <h1 class="left" style="font-family: 'Passion One', cursive;">Weeks</h1>
    </div>

    <br>
    <div class="well" style="background-color: aliceblue;">
        <div class="well">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <td><a ng-click="sortType = 'id'; sortReverse = !sortReverse">
                        Week Id
                        <span ng-show="sortType == 'id'"  class="caret"></span>
                    </a></td>
                    <td><a href= "" ng-click="sortType = 'start_Date'; sortReverse = !sortReverse">
                        Start Date
                        <span ng-show="sortType == 'start_Date'" class="caret"></span>
                    </a></td>
                    <td><a ng-click="sortType = 'end_date'; sortReverse = !sortReverse">
                        End Date
                        <span ng-show="sortType == 'end_date'" class="caret"></span>
                    </a></td>
                    <td><a ng-click="sortType = 'popular_crime'; sortReverse = !sortReverse">
                        Most Popular Crime
                        <span ng-show="sortType == 'popular_crime'" class="caret"></span>
                    </a></td>
                    <td><a ng-click="sortType = 'crimes'; sortReverse = !sortReverse">
                        Crimes
                        <span ng-show="sortType == 'crimes'" class="caret"></span>
                    </a></td>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="week in weeks | orderBy:sortType:sortReverse">
                    <td><a ng-click="goToWeek(week.id)">{{ week.id }}</a></td>
                    <td><a ng-click="goToWeek(week.id)">{{ week.start_date }}</a></td>
                    <td><a ng-click="goToWeek(week.id)">{{ week.end_date }}</a></td>
                    <td><a href="/crimetype{{week.popular_crime}}">{{ week.popular_crime }}</a></td>
                    <td>
                        <table class="table table-hover">
                            <thead>
                            <tr>Crime Id</tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="crime in week.crimes">
                                <td><a href="/crime{{week.id}}">{{ week.id }}</a></td>
                                <td>{{ week.description }}</td>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="well">
            <img src="images/weeks-histogram.JPG">
        </div>
    </div>
</div>