<div class="overlay-green" style="padding-top: 0px">
    <div class="jumbotron overlay-green" style="padding-top: 0px; ">
        <div class="overlay">
            <div class="row show-grid">
                <div class="bs-docs-grid ">
                    <div class="col-sm-8">
                        <h1 class="left page-header" >Zipcodes</h1>
                    </div>
                    <div class="col-sm-4">
                        <img class="page-image" src="http://www.austinchronicle.com/binary/1a22/pols_feature24-2.gif">
                    </div>
                </div>
            </div>
        </div>

        <div class="well" style="background-color: aliceblue;">
            <div class="bs-docs-grid ">
                <div class="row show-grid" style="margin-left: auto">
                    <div class="col-md-8">
                        <div class="well" style="min-height: 350px; margin-left: 50px">
                            <table show-filter='true' class="table table-hover table-striped">
                                <thead>
                                <input type="text" id="search" placeholder="Search">
                                <tr>
                                    <td filter="{zip_id: 'number'}"><a ng-click="sortType = 'zip_id'; sortReverse = !sortReverse">
                                        Zipcode Id
                                        <span ng-show="sortType == 'zip_id'"  class="caret"></span>
                                    </a></td>
                                    <td><a href= "" ng-click="sortType = 'zip_code'; sortReverse = !sortReverse">
                                        Zipcode
                                        <span ng-show="sortType == 'zip_code'" class="caret"></span>
                                    </a></td>
                                    <td><a ng-click="sortType = 'lat'; sortReverse = !sortReverse">
                                        Latitude
                                        <span ng-show="sortType == 'lat'" class="caret"></span>
                                    </a></td>
                                    <td><a ng-click="sortType = 'lng'; sortReverse = !sortReverse">
                                        Longitude
                                        <span ng-show="sortType == 'lng'" class="caret"></span>
                                    </a></td>
                                    <td><a ng-click="sortType = 'pop'; sortReverse = !sortReverse">
                                        Population
                                        <span ng-show="sortType == 'pop'" class="caret"></span>
                                    </a></td>
                                    <td><a ng-click="sortType = 'family_income'; sortReverse = !sortReverse">
                                        Average Income
                                        <span ng-show="sortType == 'family_income'" class="caret"></span>
                                    </a></td>
                                </tr>
                                <script src="http://code.jquery.com/jquery-2.1.0.js"></script>
                                    <script type="text/javascript">
                                        var $rows = $('#zip tr');
                                        $('#search').keyup(function() {
                                            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
    
                                            $rows.show().filter(function() {
                                            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                                            return !~text.indexOf(val);
                                            }).hide();
                                        });
                                    </script>
                                </thead>

                                <tbody>
                                <tr ng-repeat="zip in zips | orderBy:sortType:sortReverse">
                                    <td><a href="/zips/{{zip.zip_id}}">{{ zip.zip_id }}</a></td>
                                    <td><a href="/zips/{{zip.zip_id}}">{{ zip.zip_code }}</a></td>
                                    <td>{{ zip.lat }}</td>
                                    <td>{{ zip.lng }}</td>
                                    <td>{{ zip.pop }}</td>
                                    <td>{{ zip.family_income }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="well" style="height: 350px">
                            <div class="gmap" id="map"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
